<h1>All Orders</h1>
<ul>
  <% @orders.each_with_index do |order, i| %>
    <li>
    <%= "Id: #{order.id} \n" %>
    <%= "Billed?: #{order.billed} \n" %>
    <%= "Email: #{order.email} \n" %>
    </li>
  <% end %>
</ul>
